:root {
    --main-bg-color: black;
    --main-text-color: white;
    --youTube-symbol-color: red;
    --disabled: #717171;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
  }

.nav {
    height: 55px;
    background-color: var(--main-bg-color);
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 0 0 10px;
    width: 100%;
}

.nav__icon {
  flex-grow: 0.1;
}

.youtube, .youtube:visited {
flex-grow: 0.2;
color: var(--main-text-color);
}


.nav__input {
    flex-grow: 3;
}

.youtube {
    display: flex;
    gap: 10px;
    align-items: center;
} 

.youtube .youtube_symbol {
    top: 3px;
    margin-left: 10px;
    font-size: 50px;
    color: var(--youTube-symbol-color);
}

.nav .nav__micro {
    flex-grow: 1;
}

.nav__rest {
    font-size: larger;
    flex-grow: 0.5;
    display: flex;
    max-width: 200px;
    padding: 50px;
}

.nav__micro--user {
    max-width: 20px;;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid grey;
    padding: 0;
}

.menu {
 display: flex;
 max-width: 400px;
 background-color: aliceblue;
 flex-direction: column;
}

.menu__item {
 flex-grow: 1;
}

/* container css */ 
 
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 8fr 1fr;
    background-color: var(--main-bg-color);
    grid-template-areas:
    "nav  nav      nav   nav nav"
    "menu content content  content content"
    "menu content  content content content"
    ;
}

#nav {
    grid-area: nav;
}

#menu {
    max-height: 100vh;
    overflow: scroll;
    grid-area: menu;
}

#content {
    grid-area: content;
}

.menu__tile {
    padding-left: 30%;
    background-color: var(--main-bg-color);
    display: flex;
    gap: 5px;
    color: var(--main-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto","Arial",sans-serif;
    line-height: 4rem;
    font-weight: 200;
}

.menu__tile:first-child {
    padding-top: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.dashboard__tile {
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.dashboard__tile__details {
    display: flex;
    align-items: center;
}

.dashboard__tile__details--circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.dashboard__tile__sub {
    display: flex;
    gap: 3px;
    color: var(--disabled);
}

.loader {
    position: relative;
    height: 100vh;
    width: 100%;
    top: 50%;
    left: 50%;
}

.video__title {
    position: relative;
    width: 100%;
    left: 20%;
    font-size: larger;
}

.watch_current_details {
    padding: 10px;
    display: flex;
    justify-items: center;
    color: var(--disabled);
    background-color: var(--main-bg-color);
    gap: 30px;
}

.video__section {
    grid-area: 'video';
}

.video_recommendation {
    grid-area: 'reco';
    max-height: 1000px;
    overflow: scroll;
}

.comment_section {
    grid-area: 'comments';
}

.watch_grid {
    display: grid;
    background-color: var(--main-bg-color);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 70vh 30vh 30vh ;
    grid-template-areas:
    "video     reco"
    "video     reco"
    "comments  reco";
}




